# Dependências e Diretórios Gerados
/node_modules
/src/generated/

# Dados Locais e Temporários
/postgres-data
/pgdata
/.vscode
/.github
/dist

# Arquivos de Configuração de Variáveis de Ambiente
.env