version: '3.8'
services:
  postgres_db:
    image: postgres:15-alpine

    container_name: lia_postgres_db

    restart: always

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: lia_db

    ports:
      - "5432:5432"

    volumes:
      - ./postgres-data:/var/lib/postgresql/data